*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    font-family:'varela round',sans-serif;
	overflow:auto
}
.layout{
   background-image: url(../images/كسف.PNG);
    position: relative;
    height: 100vh;
    background-size:100% 100%;
    width:100%;
    animation: kids 15s infinite linear;
    position: relative;
/*background-attachment:fixed;*/

}
@-webkit-keyframes kids{
   0%,18%,24%,16%,17%, 20%,10%,15%{
        background-image: url(../images/كسف.PNG);
    }
    45%,35%,30%,40%,25%{
       background-image: url(../images/%D9%86%D9%85%D9%885.PNG);
    } 
 55%, 60%,65%, 50%{
       background-image: url(../images/%D8%AD%D8%B6%D8%A7%D9%86%D8%A95.PNG) ; 
    }
   
   75% ,65%,80%,70%{
      background-image: url(../images/سمنة2.PNG);  
    }
    95%,90%,85%,100%{
     background-image: url(../images/%D9%84%D8%A8%D9%86%20%D8%A7%D9%84%D8%B7%D9%81%D9%84.PNG)  ; 
    }
}
.header{
    background-color:darkgray;
width:100%;
/*position:fixed*/
    
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
    height: 100px;
 
   
}

.logo{
    float: left;
    width: 40%;
   color:#fff;
    text-align: center;
    margin-top: 20px;
	/*width:100%*/
	
}
.logo h1{
   
    color: blueviolet
}
.logo span{
	
	/*font-size:30px*/
}
.logo i{
	
	display:none;
}

.nav {
    list-style-type: none;
  display: inline;
    display: flex;
    width: 60%;
   
    -webkit-justify-content:space-around;
    
}
@media screen and (max-width:768px){
	
.nav{
	display:none
}
.logo i{
	
	display:block
}
.logo span{
	
	font-size:20px
}
.logo{
	
	/*background-color:red;*/
	width:100%;
	
}
.container{
	
	height:120px
}	
	
}
.nav li{
   /* align-items: center*/
    margin-top: 30px
}

.nav a{
    text-decoration: none;
    color: #fff;
    
    
}
.services{
 /* background-color:red;*/
width:200px  ;
position:absolute;
top:200px;
overflow:hidden;
left:550px;
height:400px;
}
@media screen and (max-width:786px){
	
.services{
	
	left:300px;
	top:150px
	
}	
	
	
	
}
@media screen and (max-width:500px){
	
.services{
	top:150px;
	left:100px
}
	
	
	}

.services p{
text-align:center;
font-size:25px;
/*word-spacing:10px;*/
word-wrap:wrap
}  
.services h1{
text-align:center;
font-size:40px
}
.services-list{
/*background-color:green;*/
width:1000px;
display:flex;
list-style-type:none;
-webkit-animation:paragraph 15s infinite linear;
/*-webkit-flex-wrap:wrap;*/
position:relative;
height:350px
}  
    
.services-list li{
padding:60px 20px;
flex-basis:200px;
/*height:400px*/

}  
      
    
   @-webkit-keyframes paragraph{
 0%,18%,24%,16%,17%, 20%,10%,15%{
left:0px;
}
45%,35%,30%,40%,25%{
left:-200px;

}

 55%, 60%,65%, 50%{
left:-400px
}

70%,75%,65%,80%{
left:-600px
}
95%,100%,90%,85%{
left:-800px
}

}
.more a{
text-decoration:none;
border:1px solid red;
border-radius:6px;	
font-size:30px;
color:#fff;
background-color:rad;
padding:10px 30px;
transition:color,background-color 1s;
position:absolute;
top:85%;
left:40%
}
.more a:hover{
	color:red;
	background-color:#fff
}
.doctor{
	padding-top:120px;
	position:relative;
	padding-bottom:50px
}
.container-doctor{
	
	width:80%;
	margin:auto;
}
.doctor h1{
	text-align:center;
margin-bottom:20px;
}

.doctor span{
	
	width:40px;
	background-color:red;
	height:3px;
	display:block;
	margin: 20px auto 90px auto;
	margin-bottom:90px



	
}
.doctor p{


font-size:45px;
direction:rtl;	
margin-bottom:30px;	
line-height:50px;
word-spacing:10px
}


.doctor a{
	
	text-decoration:none;
	border:1px solid red;
	color:red;
padding:15px 30px;

transition:color,background-color 1s;
margin-left:43%
}
.doctor a:hover{
	
	color:#fff;
	background-color:red
}
@media screen and (max-width:500px){
	.doctor a{
		margin-left:10%
	}
	
}

.clinic {
	

padding-bottom:120px	
	
	
}

.clinic-header{
	text-align:center;
	padding-top:50px
}
.clinic span{
	
	width:50px;
	height:3px;
	background-color:red;
	display:block;
	margin: 20px auto 50px auto;
}

.clinic-item{
	width:30%;
	float:left;
	padding-top:50px;
//*background-color:red;*/
/*width:90%*/

}
.clinic-item p{
font-size:30px;
/*margin-right:90px;	*/
text-align:center	
}
.clear{
	clear:both
}
.clinic-img img{
width:100%px;
height:250px;
	
	
}
.cinic-img{
/*width:100%;*/
	/*width:100%;*/
	/*margin:0px auto*/
	width:50%
	
}
.clinic-item.mg{
margin:0px 5%
	
}
@media screen and (max-width:768px){
	
.clinic-item{
	
	width:60%;
	margin-left:20%
}	
	
.clinic-item.mg{
	margin:0px 20%
}	
	
}



@media screen and (max-width:500px){
	
.clinic-item{
	width:90%;
	margin-left:0px
}	
.clinic-item.mg{
	
	margin:0px 0px
}	
	
	
}
.clinic-content{
	float:left;
	padding-bottom:120px;*/
	/*-webkit-flex-wrap:wrap;*/
/*-webkit-justify-content:center;*/

}

.clinic-container{
	
	margin:auto;
	background-color:red;
	width:80%
	}
.location{
	
	position:relative;
	text-align:right;
	font-size:30px;
	word-spacing:10px
	
	
}
.container-location{
	
	
	
	width:80%;
	margin:120px auto 60px auto
}

.proud{
	background-color:black;
	width:100%;
	height:50px;
	position:relative
}

.proud-content{
	
color:gray;
position:absolute;
top:20px
	
}


